

body {
  font-family: arial, sans-serif;
  background: url("https://wallpaperaccess.com/full/1540001.jpg") no-repeat;
  background-size: cover;
}

.container {
  max-width: 800px;
}

.weather-app {
  margin-top: 20px;
  margin: 30px auto;
  border: 2px solid rgb(158, 158, 189);
  border-radius: 5px;
  color: rgb(76, 76, 138);
  background-color: rgb(163, 204, 204);
  padding: 25px;
  margin-bottom: 0;
}

.overview ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.overview #celsius {
  font-size: 22px;
  text-decoration: none;
}

.overview #farenheit {
  font-size: 22px;
  text-decoration: none;
}

.overview h1 {
  font-weight: 550;
  opacity: 0.9;
}

.weather-forcast {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 2px solid rgb(166, 221, 221);
  border-radius: 5px;
  background-color: rgb(191, 209, 209);
  text-align: center;
  color: rgb(76, 76, 138);
  font-weight: 550;
  font-size: 20px;
}

.weather-forcast .weather-forcast-date {
  opacity: 0.8;
}

.weather-forcast .weather-forcast-temp-min {
  opacity: 0.7;
  font-weight: 550;
}



#temperature {
  font-size: 110px;
  font-weight: 570;
}

.overview img {
  height: 140px;
  width: 140px;
  position: relative;
  top: -25px;
}

.active {
  text-decoration: none;
  color: rgb(76, 76, 138);
  cursor: default;
}

.active:hover {
  text-decoration: none;
  color: rgb(76, 76, 138);
}


.weather-forcast {
  margin-top: 20px;
}

.description {
  font-size: 20px;
  font-weight: 400;
  opacity: 0.8;
}

.developer {
  color:  aquamarine;
}

.developer a {
  color:  rgb(23, 185, 190);
}